@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-textMain overflow-hidden;
  }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-background;
}
::-webkit-scrollbar-thumb {
  @apply bg-surfaceHighlight rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary/50;
}
